@using System.Web.Optimization
@using LessMarkup.Framework.Helpers
@using LessMarkup.Framework.HtmlTemplate
@model LessMarkup.UserInterface.Model.Structure.NodeEntryPointModel
@{
    /* This Source Code Form is subject to the terms of the Mozilla Public
     * License, v. 2.0. If a copy of the MPL was not distributed with this
     * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
    
    Layout = null;
}<!DOCTYPE html>
<html lang="en" ng-app="application" ng-controller="main">
    <head>
        @* ReSharper disable Html.PathError *@
        <link href="~/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        @* ReSharper restore Html.PathError *@
        <meta name="viewport" content="width=device-width" />
        <link href="http://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet" type="text/css">
        @Styles.Render("~/Content/bootstrap.css")
        @Styles.Render("~/Content/ng-grid.css")
        @Styles.Render("~/Content/site.css")
        @Styles.Render("~/Content/visualblocks.css")
        @Styles.Render("~/Content/codemirror.css")
        @Styles.Render("~/Content/nodelist.css")
        @Styles.Render("~/Content/flatpage.css")
        @Html.RenderNodeHandlerStylesheets()
        <meta charset="utf-8" />
        <title ng-bind="title">@Model.Title</title>
    </head>
    <body>
        @Html.RenderTemplate("~/Views/InputFormTemplate.html")
        @Html.RenderTemplate("~/Views/Body.html")
        @Scripts.Render("~/Scripts/jquery-2.1.1.js")
        @Scripts.Render("~/Scripts/jquery-ui-1.10.4.js")
        @Scripts.Render("~/Scripts/angular.js")
        @Scripts.Render("~/Scripts/bootstrap.js")
        @Scripts.Render("~/Scripts/ui-bootstrap.js")
        @Scripts.Render("~/Scripts/ng-grid.js")
        @Scripts.Render("~/Scripts/ng-grid-flexible-height.js")
        @Scripts.Render("~/Scripts/Tinymce/tinymce.js")
        @Scripts.Render("~/Scripts/Tinymce/tinymce-angular.js")
        @Scripts.Render("~/Scripts/jquery.signalr-2.1.0.js")
        @Scripts.Render("~/Scripts/sha512.js")
        @Scripts.Render("~/Scripts/hubs.js")
        @Scripts.Render("~/Scripts/spin.js")
        @Scripts.Render("~/Scripts/angular-spinner.js")
        @Scripts.Render("~/Scripts/codemirror.js")
        @Scripts.Render("~/Scripts/ui-codemirror.js")
        <script>
            window.tinyMceThemePath = "@Url.Content("~/Scripts/Tinymce/tinymce-theme.js")";
            window.tinyMceSkinPath = "@Url.Content("~/Content/Tinymce")";
            window.viewInitialData = @Html.Raw(Model.InitialData);
        </script>
        @Scripts.Render("~/Scripts/application.js")
        @Scripts.Render("~/Scripts/viewhandler.js")
        @Scripts.Render("~/Scripts/command-handler.js")
        @Scripts.Render("~/Scripts/inputform.js")
        @Scripts.Render("~/Scripts/recordlist.js")
        @Scripts.Render("~/Scripts/configuration.js")
        @Scripts.Render("~/Scripts/nodelist.js")
        @Scripts.Render("~/Scripts/flatpage.js")
        @Html.RenderNodeHandlerScripts()
    </body>
</html>
