@model LessMarkup.Framework.Security.Models.GeneratedPassswordModel

@{
    Model.Subject = "New user registration on site " + Model.SiteName;
}

<html>
    <body>
        <p>
            New user was successfully registered on site <a href="@Model.SiteLink">@Model.SiteName</a>.
        </p>
        <p>
            Please use the following credentials to login to the site:
        </p>
        <ul>
            <li>User Name: @Model.Login</li>
            <li>Password: @Model.Password</li>
        </ul>
        <p>Best wishes, @Model.SiteName.</p>
    </body>
</html>
